---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
5
<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(241, 241, 241);">
</br>
<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
<h3 style="padding-top: 15px;">3D-Mol: A Novel Contrastive Learning Framework for Molecular Property Prediction with 3D Information</h3>
<p style="text-align:justify">Published in 17 Aug 2023</p>
<a style="padding-bottom: 15px;" href="https://www.biorxiv.org/content/10.1101/2023.08.15.553467v1.abstract">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
<p style="text-align:justify">----------------------------------------------------------------------</p>
<h3>GIT-Mol: A Multi-modal Large Language Model for Molecular Science with Graph, Image, and Text</h3>
<p style="text-align:justify">Published in 14 Aug 2023</p>
<a href="https://arxiv.org/abs/2308.06911">Paper Link</a>
</br>
<p style="text-align:justify">----------------------------------------------------------------------</p>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Space-based gravitational wave signal detection and extraction with deep neural network</h3>
<p style="text-align:justify">Published in 11 Aug 2023</p>
<a href="https://www.nature.com/articles/s42005-023-01334-6">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Attention-Based Deep Learning Model for Image Desaturation of SDO/AIA</h3>
<p style="text-align:justify">Published in 5 Jul 2023</p>
<a href="https://iopscience.iop.org/article/10.1088/1674-4527/acd595/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>A Large-Scale Dataset of Three-Dimensional Solar Magnetic Fields Extrapolated by Nonlinear Force-Free Method</h3>
<p style="text-align:justify">Published in 30 Mar 2023</p>
<a href="https://www.nature.com/articles/s41597-023-02091-5">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Self-supervised learning on millions of pre-mRNA sequences improves sequence-based RNA splicing prediction</h3>
<p style="text-align:justify">Published in 9 May 2023</p>
<a href="https://www.biorxiv.org/content/10.1101/2023.01.31.526427v2.abstract">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>First machine learning gravitational-wave search mock data challenge</h3>
<p style="text-align:justify">Published in 27 Jan 2023</p>
<a href="https://journals.aps.org/prd/abstract/10.1103/PhysRevD.107.023021">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Taiji Data Challenge for Exploring Gravitational Wave Universe</h3>
<p style="text-align:justify">Published in 8 Jan 2023</p>
<a href="https://arxiv.org/abs/2301.02967">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Cytokine expression patterns: A single-cell RNA sequencing and machine learning based roadmap for cancer classification</h3>
<p style="text-align:justify">Published in 21 Aug 2023</p>
<a href="https://www.biorxiv.org/content/10.1101/2023.06.01.542694v2.abstract">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Identification of bioactive constituents for colitis from traditional Chinese medicine prescription via deep neural network</h3>
<p style="text-align:justify">Published in 1 Jun 2023</p>
<a href="https://www.biorxiv.org/content/10.1101/2023.06.01.542694v2.abstract">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Intelligent noise suppression for gravitational wave observational data</h3>
<p style="text-align:justify">Published in 29 Dec 2022</p>
<a href="https://arxiv.org/abs/2212.14283">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Running ahead of evolution - AI based simulation for predicting future high-risk SARS-CoV-2 variants</h3>
<p style="text-align:justify">Published in 12 Jan 2023</p>
<a href="https://www.biorxiv.org/content/10.1101/2022.11.17.516989v4.abstract">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Constraints on the Very High Energy Gamma-Ray Emission from Short GRBs with HAWC</h3>
<p style="text-align:justify">Published in 8 Sep 2022</p>
<a href="https://iopscience.iop.org/article/10.3847/1538-4357/ac880e/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Super-resolution of Solar Magnetograms Using Deep Learning</h3>
<p style="text-align:justify">Published in 22 Jul 2022</p>
<a href="https://iopscience.iop.org/article/10.1088/1674-4527/ac78ce/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Image Desaturation for SDO/AIA Using Mixed Convolution Network</h3>
<p style="text-align:justify">Published in 20 May 2022</p>
<a href="https://iopscience.iop.org/article/10.1088/1674-4527/ac69b7/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Sampling with prior knowledge for high-dimensional gravitational wave data analysis</h3>
<p style="text-align:justify">Published in 27 Dec 2021</p>
<a href="https://ieeexplore.ieee.org/abstract/document/9663260">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>AIPerf: Automated machine learning as an AI-HPC benchmark</h3>
<p style="text-align:justify">Published in 12 May 2021</p>
<a href="https://ieeexplore.ieee.org/abstract/document/9430136">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>HAWC observations of the acceleration of very-high-energy cosmic rays in the Cygnus Cocoon</h3>
<p style="text-align:justify">Published in 11 Mar 2021</p>
<a href="https://www.nature.com/articles/s41550-021-01318-y">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>3HWC: The Third HAWC Catalog of Very-high-energy Gamma-Ray Sources</h3>
<p style="text-align:justify">Published in 15 Dec 2020</p>
<a href="https://iopscience.iop.org/article/10.3847/1538-4357/abc2d8/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Constraints on the Emission of Gamma-Rays from M31 with HAWC</h3>
<p style="text-align:justify">Published in 8 Apr 2020</p>
<a href="https://iopscience.iop.org/article/10.3847/1538-4357/ab7999/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Multiple Galactic Sources with Emission Above 56 TeV Detected by HAWC</h3>
<p style="text-align:justify">Published in 15 Jan 2020</p>
<a href="https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.124.021102">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Measurement of the Crab Nebula Spectrum Past 100 TeV with HAWC</h3>
<p style="text-align:justify">Published in 21 Aug 2019</p>
<a href="https://iopscience.iop.org/article/10.3847/1538-4357/ab2f7d/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Searching for dark matter sub-structure with HAWC</h3>
<p style="text-align:justify">Published in 15 Jul 2019</p>
<a href="https://iopscience.iop.org/article/10.1088/1475-7516/2019/07/022/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>MAGIC and Fermi-LAT gamma-ray results on unassociated HAWC sources</h3>
<p style="text-align:justify">Published in 16 Jan 2019</p>
<a href="https://academic.oup.com/mnras/article/485/1/356/5289894">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>All-sky Measurement of the Anisotropy of Cosmic Rays at 10 TeV and Mapping of the Local Interstellar Magnetic Field</h3>
<p style="text-align:justify">Published in 24 Jan 2019</p>
<a href="https://iopscience.iop.org/article/10.3847/1538-4357/aaf5cc/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>First HAWC observations of the Sun constrain steady TeV gamma-ray emission</h3>
<p style="text-align:justify">Published in 17 Dec 2018</p>
<a href="https://journals.aps.org/prd/abstract/10.1103/PhysRevD.98.123011">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Constraints on spin-dependent dark matter scattering with long-lived mediators from TeV observations of the Sun with HAWC</h3>
<p style="text-align:justify">Published in 17 Dec 2018</p>
<a href="https://journals.aps.org/prd/abstract/10.1103/PhysRevD.98.123012">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>VERITAS and Fermi-LAT Observations of TeV Gamma-Ray Sources Discovered by HAWC in the 2HWC Catalog</h3>
<p style="text-align:justify">Published in 5 Oct 2018</p>
<a href="https://iopscience.iop.org/article/10.3847/1538-4357/aade4e/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Very-high-energy particle acceleration powered by the jets of the microquasar SS 433</h3>
<p style="text-align:justify">Published in 3 Oct 2018</p>
<a href="https://www.nature.com/articles/s41586-018-0565-5">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Observation of Anisotropy of TeV Cosmic Rays with Two Years of HAWC</h3>
<p style="text-align:justify">Published in 20 Sep 2018</p>
<a href="https://iopscience.iop.org/article/10.3847/1538-4357/aad90c/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Multimessenger observations of a flaring blazar coincident with high-energy neutrino IceCube-170922A</h3>
<p style="text-align:justify">Published in 13 Jul 2018</p>
<a href="https://www.science.org/doi/abs/10.1126/science.aat1378">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Search for dark matter gamma-ray emission from the Andromeda Galaxy with the High-Altitude Water Cherenkov Observatory</h3>
<p style="text-align:justify">Published in 29 Jun 2018</p>
<a href="https://iopscience.iop.org/article/10.1088/1475-7516/2018/06/043/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Constraining the ¯p/p ratio in TeV cosmic rays with observations of the Moon shadow by HAWC</h3>
<p style="text-align:justify">Published in 16 May 2018</p>
<a href="https://journals.aps.org/prd/abstract/10.1103/PhysRevD.97.102005">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>A search for dark matter in the Galactic halo with HAWC</h3>
<p style="text-align:justify">Published in 23 Feb 2018</p>
<a href="https://iopscience.iop.org/article/10.1088/1475-7516/2018/02/049/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Dark Matter Limits from Dwarf Spheroidal Galaxies with the HAWC Gamma-Ray Observatory</h3>
<p style="text-align:justify">Published in 1 Feb 2018</p>
<a href="https://iopscience.iop.org/article/10.3847/1538-4357/aaa6d8/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Improve the Low Energy Sensitivity of the HAWC Observatory</h3>
<p style="text-align:justify">Published in Dec 2018</p>
<a href="https://www.proquest.com/openview/302c659daa85a7e95d8c3e33e3060d0b/1?pq-origsite=gscholar&cbl=18750&diss=y">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>All-particle cosmic ray energy spectrum measured by the HAWC experiment from 10 to 500 TeV</h3>
<p style="text-align:justify">Published in 5 Dec 2017</p>
<a href="https://journals.aps.org/prd/abstract/10.1103/PhysRevD.96.122001">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Extended gamma-ray sources around pulsars constrain the origin of the positron flux at Earth</h3>
<p style="text-align:justify">Published in 17 Nov 2017</p>
<a href="https://www.science.org/doi/abs/10.1126/science.aan4880">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Multiwavelength follow-up of a rare IceCube neutrino multiplet</h3>
<p style="text-align:justify">Published in 24 Nov 2017</p>
<a href="https://www.aanda.org/articles/aa/abs/2017/11/aa30620-17/aa30620-17.html">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Survey of nearby active galactic nuclei with the HAWC Observatory</h3>
<p style="text-align:justify">Published in 18 Aug 2017</p>
<a href="https://arxiv.org/abs/1708.05698">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>The HAWC Real-time Flare Monitor for Rapid Detection of Transient Events</h3>
<p style="text-align:justify">Published in 12 Jul 2017</p>
<a href="https://iopscience.iop.org/article/10.3847/1538-4357/aa789f/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Search for Very-high-energy Emission from Gamma-Ray Bursts Using the First 18 Months of Data from the HAWC Gamma-Ray Observatory</h3>
<p style="text-align:justify">Published in 6 Jul 2017</p>
<a href="https://iopscience.iop.org/article/10.3847/1538-4357/aa756f/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>The 2HWC HAWC Observatory Gamma-Ray Catalog</h3>
<p style="text-align:justify">Published in 29 Jun 2017</p>
<a href="https://iopscience.iop.org/article/10.3847/1538-4357/aa7556/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Observation of the Crab Nebula with the HAWC Gamma-Ray Observatory</h3>
<p style="text-align:justify">Published in 29 Jun 2017</p>
<a href="https://iopscience.iop.org/article/10.3847/1538-4357/aa7555/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Search for Very High-energy Gamma Rays from the Northern Fermi Bubble Region with HAWC</h3>
<p style="text-align:justify">Published in 16 Jun 2017</p>
<a href="https://iopscience.iop.org/article/10.3847/1538-4357/aa751a/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Daily Monitoring of TeV Gamma-Ray Emission from Mrk 421, Mrk 501, and the Crab Nebula with HAWC</h3>
<p style="text-align:justify">Published in 31 May 2017</p>
<a href="https://iopscience.iop.org/article/10.3847/1538-4357/aa729e/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>Multi-messenger Observations of a Binary Neutron Star Merger</h3>
<p style="text-align:justify">Published in 16 Oct 2017</p>
<a href="https://iopscience.iop.org/article/10.3847/2041-8213/aa91c9/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>SEARCH FOR TeV GAMMA-RAY EMISSION FROM POINT-LIKE SOURCES IN THE INNER GALACTIC PLANE WITH A PARTIAL CONFIGURATION OF THE HAWC OBSERVATORY</h3>
<p style="text-align:justify">Published in 18 Jan 2016</p>
<a href="https://iopscience.iop.org/article/10.3847/0004-637X/817/1/3/meta">Paper Link</a>
</br>
</div>

</br>

<div style="width: 100%;padding-left: 3%;padding-right: 3%;background-color: rgb(226, 226, 226);">
</br>
<h3>The Calibration System of the HAWC Gamma-Ray Observatory</h3>
<p style="text-align:justify">Published in Jul 2015</p>
<a href="https://ui.adsabs.harvard.edu/abs/2015ICRC...34..997A/abstract">Paper Link</a>
</br>
</div>

</br>

</div>








































<!-- {% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->
